schemas/26.1/raw/IATA_EMD_GroundHandlingRequestAirportControlRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="2.001" id="IATA2022.1">
	<xs:include schemaLocation="IATA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_ET_CommonTypes.xsd"/>
	<xs:element name="IATA_EMD_GroundHandlingRequestAirportControlRQ">
		<xs:annotation>
			<xs:documentation>This message allows a ground handler to request control of an EMD flight coupon(s) from a validating carrier.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The transaction agent id and the ticket handled airline designator and system indicator.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TicketDocument" maxOccurs="999">
					<xs:annotation>
						<xs:documentation>The EMD number for which control is requested.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CouponInfo" maxOccurs="4">
								<xs:annotation>
									<xs:documentation>The coupon number for which control is requested.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CurrentAirlineInfo" type="FlightSegmentType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The airline information  for this coupon.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Number" type="Numeric1to4" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">The applicable coupon number.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="InvoluntaryIndCode" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="I"/>
												<xs:enumeration value="L"/>
												<xs:enumeration value="S"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="NbrOfSvcs" type="NumericStringLength1to3">
										<xs:annotation>
											<xs:documentation>Number of services of the same type that are included in an EMD coupon.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Document number comprised of the airline code, form code, and serial number.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="DateOfIssue" type="xs:date">
							<xs:annotation>
								<xs:documentation>The date of issue.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
			<xs:attribute name="TicketDocQuantity" type="Numeric1to99" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">The total number of ticket/document numbers sent in this message.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
