schemas/26.1/raw/IATA_AIDX_FlightLegLinkGroundMovementRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="2.007" id="IATA2022.1">
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="IATA_AIDX_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_AIDX_GroundMovementCommonTypes.xsd"/>
	<xs:element name="IATA_AIDX_FlightLegLinkGroundMovementRS">
		<xs:annotation>
			<xs:documentation>Used to send ground movement information when requested by the airport.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation>Standard way to indicate successful processing of an IATA message. Returning an empty element of this type indicates success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0"/>
					<xs:element name="FlightLegLinkGroundMovement" type="FlightLegLinkGroundMovementType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType"/>
			</xs:choice>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
			<xs:attribute name="CodeContext" type="IATA_CodeType" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the context of the airline and airport codes, such as IATA or ICAO.  Refer to IATA PADIS Code List for data element 3055.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
