schemas/26.1/raw/IATA_BarCodeBoardingPassRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="3.000" id="IATA2022.1">
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_SimpleTypes.xsd"/>
	<xs:element name="IATA_BarCodeBoardingPassRQ">
		<xs:annotation>
			<xs:documentation>A message containing the 2d barcode data according to IATA Resolution 792</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Originator" type="POS_Type">
					<xs:annotation>
						<xs:documentation>Identifies the airport where the boarding pass is scanned, the airport terminal, the originator and deliverer of the message. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RequiredInformation">
					<xs:annotation>
						<xs:documentation>Unique mandatory data items which are not repeatable items</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PassengerName" type="PersonNameType">
								<xs:annotation>
									<xs:documentation>Surname and given name of passenger. When there is not enough space for the given name, encode at least one alpha character or initial. If surname exceeds 18 characters, truncate at 18th character and include one alpha initial.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ElectronicTicketInd" type="AlphaLength1">
							<xs:annotation>
								<xs:documentation>Spedifies if the boarding pass is issued against an electronic ticket or is ticketless.  For values refer to Reso 792, Attachment C, element Electronic Ticket Indicator.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="FormatCode" type="AlphaLength1">
							<xs:annotation>
								<xs:documentation>Format code for Boarding pass issued, can only be M for Multiple, see Reso 792</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="OptionalInformation" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Conditional non repeatable unique data items valid for all segments as defined in attachment A, Reso 792</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VersionNumber" type="StringLength1" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Version of the structured message of the M format.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PassengerDescription" type="StringLength1" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The type of passenger, such as adult, male, infant, etc. See Reso 792, attachment A and C.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SourceOfCheckIn" type="StringLength1" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Specifies where the check-in was initiated. </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SourceOfIssuance" type="StringLength1" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Specifies where the boarding pass was issued.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="BoardingPassIssuanceDate" type="NumericStringLength1to5" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Specifies the date the boarding pass was issued including last digit of year in julian date. E.g 13aug2006 would be 6225 in julian date</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DocumentType" type="StringLength1" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Used to specify if the type of document is a boarding pass (B) or itinerary receipt (I)  </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Issuer" type="AirlineType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The airline that issued the boarding pass.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="BaggageTagLicencePlateNumber" type="StringLength0to13" minOccurs="0" maxOccurs="3">
								<xs:annotation>
									<xs:documentation>See Resolution 792 attachment A and C. jpsc 2010</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Segment" maxOccurs="4">
					<xs:annotation>
						<xs:documentation>This is number of legs encoded icluding mandatory repeatable items and conditional repeatable items</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RequiredInformation">
								<xs:annotation>
									<xs:documentation>Required repeatable data items for each segment as defined in attachment A, resolution 792</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OperatingCarrierPNR_Code">
											<xs:annotation>
												<xs:documentation>The record locator of the operating carrier using the ID attribute.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="UniqueID_Group"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="FromCity" type="StationType">
											<xs:annotation>
												<xs:documentation>The origin airport city code for the boarding pass.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ToCity" type="StationType">
											<xs:annotation>
												<xs:documentation>The destination airport city code for the boarding pass.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OperatingCarrier" type="AirlineType">
											<xs:annotation>
												<xs:documentation>The operating carrier code.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="FlightNumber">
											<xs:annotation>
												<xs:documentation>The actual flight number.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="FlightNumberType">
														<xs:attribute name="OperationalSuffix" type="OperationalSuffixType">
															<xs:annotation>
																<xs:documentation>The operational suffix for this flight number</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="DepartureDate" type="NumericStringLength1to3">
											<xs:annotation>
												<xs:documentation>The scheduled flight date expressed in Julian Date.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CabinType" type="xs:string">
											<xs:annotation>
												<xs:documentation>See Resolution 728 for list of codes. e.g. F (First Class), J (Business Class Premium), Y (Economy/Coach)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SeatNumber" type="AlphaNumericStringLength1to4" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Seat assigned for passenger.  If no seat number was assigned this field may be omitted, instead of communicating the blanks.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CheckInSequenceNumber" type="StringLength1to5">
											<xs:annotation>
												<xs:documentation>See Resolution 792 attachment A and C.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PassengerStatus" type="StringLength1">
											<xs:annotation>
												<xs:documentation>Information regarding status of passenger. See Resolution 792 attachment C for the values to be used</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:sequence>
								<xs:element name="OptionalInformation" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Conditional repeatable data items for each segment as defined in attachment A, resolution 792</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="TicketDocumentNumber" type="StringLength1to16" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Document number comprised of the airline code, form code, and serial number</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SelecteeInd" type="AlphaLength1" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Specifies if passenger is a selectee or not.  For values, refer to Resolution 792 Attachment C, element Selectee Indicator.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="InternationalDocumentationVerification" type="StringLength1" minOccurs="0">
												<xs:annotation>
													<xs:documentation>See Resolution 792 attachment A and C.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="MarketingCarrier" type="AirlineType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>The marketing airline code.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CustomerLoyalty" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Frequent flyer reference.  ProgramID=airline code, MembershipID=FF number.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attributeGroup ref="CustomerLoyaltyGroup"/>
												</xs:complexType>
											</xs:element>
											<xs:element name="ID_AD_Indicator" type="StringLength1" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Industry Dicount or Agency Discount codes.  See Resolution 792 attachment C for the values to be used</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="FreeBaggageAllowance" type="AlphaNumericStringLength1to3" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Free Baggage Allowance will contain either weight in K(Kilos), L (pounds) or PC (number of pieces) e.g 20k, 40L or 2PC </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ForIndividualAirlineUse" type="StringLength1to255" minOccurs="0">
												<xs:annotation>
													<xs:documentation>See Resolution 792 attachment A and C.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="FastTrackInd" type="xs:boolean" minOccurs="0">
												<xs:annotation>
													<xs:documentation>When true, fast track is allowed.  If false, fast track is not allowed.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Security">
					<xs:annotation>
						<xs:documentation>Security data generated as digital signature on the barcoded boardingpass</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TypeOfSecurityData" type="StringLength1" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Identifier of the type of security employed on the barcode.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SecurityData" type="StringLength1to255" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Digital signature generated according to the rules of the country where the boarding pass is used.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
