schemas/26.1/raw/IATA_SlotHistoricListNotifRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="2.001" id="IATA2022.1">
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_SlotCommonTypes.xsd"/>
	<xs:element name="IATA_SlotHistoricListNotifRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">This message allows an airport coordinator to send unsolicited historical slot information to an airline.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CreatorRef" type="StringLength0to64">
					<xs:annotation>
						<xs:documentation>The coordinators reference to this list.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Season" type="SeasonType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The coordination season for this historic slot information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AirportHistoricMovementList" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A collection of historic slot movements for a specific airport.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="HistoricMovement" type="HistoricMovementType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>An item of historic slot movement information .</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Airport" type="StationType" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">The airport code for this slot information.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CodeContext" type="IATA_OrICAO_Type" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Time" type="TimeType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to specify if times should be in local time or UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
			<xs:attribute name="TimeType" type="TimeType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies that times are either in local or UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ListVersion" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies whether this is the initial, interim or final list.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Initial"/>
						<xs:enumeration value="Interim"/>
						<xs:enumeration value="Final"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
