schemas/26.1/raw/IATA_SlotClearanceRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="2.004" id="IATA2022.1">
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_SlotCommonTypes.xsd"/>
	<xs:complexType name="ClearanceReqTransactionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A single clearance request transaction</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseTransactionType">
				<xs:choice maxOccurs="unbounded">
					<xs:element name="OfferAcceptanceRequest" type="RequestOfferAcceptanceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Accept an offer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OfferRejectionRequest" type="RequestOfferRejectionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Reject an offer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MovementDeletionRequest" type="RequestMovementDeletionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A request to delete a movement record.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MovementAdditionRequest" type="RequestMovementType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A request to add a movement record.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MovementChangeRequest" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A request to modify an existing movement record.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MovementDeletionRequest" type="RequestMovementDeletionType">
									<xs:annotation>
										<xs:documentation>The schedule movement to be deleted.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="MovementAdditionRequest" type="RequestMovementType">
									<xs:annotation>
										<xs:documentation>The schedule movement to be added.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="MovementMergeRequest" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A request to replace more than one existing movement record with a single movement record.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MovementDeletionRequest" type="RequestMovementDeletionType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>The schedule movements to be deleted.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="MovementAdditionRequest" type="RequestMovementType">
									<xs:annotation>
										<xs:documentation>The single schedule movement to be added.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="MovementSplitRequest" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A request to replace an existing movement record with a more than one movement records.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="MovementDeletionRequest" type="RequestMovementDeletionType">
									<xs:annotation>
										<xs:documentation>The single schedule movement to be deleted.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="MovementAdditionRequest" type="RequestMovementType" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>The schedule movements to be added.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
				<xs:attribute name="ChangeReason" type="ChangeReasonType" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The reason for the clearance change request.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ChangeReasonDetail" type="StringLength0to50" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">
                            Additional freetext description of the reason for the clearance change request.
				        </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="TransactionComments" type="StringLength0to50" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">Freetext comments.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ConstraintDetailInd" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Used to specify if the airline requires detailed information regarding broken constraints.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="IATA_SlotClearanceRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">This message allows an airline to send a clearance request to a coordinator.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CreatorRef" type="StringLength0to64">
					<xs:annotation>
						<xs:documentation xml:lang="en">The airlines reference to this list.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Season" type="SeasonType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">The coordination season for this clearance request.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TransactionCount" type="Numeric0to999" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">The number of transactions contained in the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MessageChangeType" type="MovementChangeType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">The type of transactions contained in the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AirportClearanceReqList" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">A collection of clearance requests for a specific airport.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClearanceReqTransaction" type="ClearanceReqTransactionType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">A single clearance request transaction</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Airport" type="StationType" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">The airport code for this slot information.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CodeContext" type="IATA_OrICAO_Type" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">Used to specify if an IATA or ICAO code</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
			<xs:attribute name="TimeType" type="TimeType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies that times are either in local or UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="UpdateDB" type="xs:boolean" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Is the request to update database.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ProcessMethod" type="ProcessingType" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">
                         Specifies whether the message is to be processed automatically
                         or transmitted to the coordinator for manual processing

                         This should be omitted when the UpdateDB attribute has the value “False”
                    </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ConstraintOverrideInd" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">When true, the request can override constraints</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="GABAReqInd" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">When true, the request is from a GABA operator</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SpecialInformation" type="StringLength0to128" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used when ProcessMethod = "Escalate" to inform the coordinator of special processing required</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
