schemas/26.1/raw/IATA_SlotInitialSubmissionRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="2.001" id="IATA2022.1">
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_SlotCommonTypes.xsd"/>
	<xs:element name="IATA_SlotInitialSubmissionRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">This message allows a coordinator to confirm the details of an airlines initial slot submission.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CreatorRef" type="StringLength0to64">
					<xs:annotation>
						<xs:documentation>The coordinators reference to this list.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MessageRef" type="StringLength0to64">
					<xs:annotation>
						<xs:documentation>The original (airline) reference to this list.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Season" type="SeasonType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The coordination season for this historic slot information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AirportSubmissionConfList" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A collection of submission movement requests for a specific airport.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ConfirmationMovement" type="RequestMovementType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A single submission request.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Airport" type="StationType" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">The airport code for this slot information.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CodeContext" type="IATA_OrICAO_Type" use="optional">
							<xs:annotation>
								<xs:documentation>Used to specify if IATA or ICAO code.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Time" type="TimeType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to specify if times should be in local time or UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
			<xs:attribute name="TimeType" type="TimeType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies that times are either in local or UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
