schemas/26.1/raw/IATA_TicketNeutralVoidRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2007/00" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="1.005" id="IATA2022.1">
	<xs:include schemaLocation="IATA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_ET_CommonTypes.xsd"/>
	<xs:element name="IATA_TicketNeutralVoidRQ">
		<xs:annotation>
			<xs:documentation>This message is used to void an original issue or exchange/reissue ticket.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type">
					<xs:annotation>
						<xs:documentation>Information to identifty who is voiding the ticket.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TicketDocument" maxOccurs="9">
					<xs:annotation>
						<xs:documentation>Ticket/document number, date of issue and number of ticket document numbers.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Warnings" type="WarningsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Used to return one or more business errors for a specific ticket document number.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Document number comprised of the airline code, form code, and serial number.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="DateOfIssue" type="DateOrDateTimeType" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">The date a document was issued.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ExchangeTktNbrInd" type="xs:boolean" use="optional">
							<xs:annotation>
								<xs:documentation>If true, this is the ticket/document number for a ticket/document that is being exchanged.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attributeGroup ref="QuantityGroup">
							<xs:annotation>
								<xs:documentation xml:lang="en">The number of booklets issued.</xs:documentation>
							</xs:annotation>
						</xs:attributeGroup>
					
										<xs:attribute name="ExchangeDocDateOfIssue" type="xs:date">
											<xs:annotation>
												<xs:documentation>The exchanged document date of issue.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
			<xs:attribute name="TicketDocQuantity" type="Numeric1to99" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">The total number of ticket/document numbers sent in this message.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Function" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to specify if this is a void of an original issue or an exchange/reissue ticket.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="OriginalIssue"/>
						<xs:enumeration value="ExchangeReissue"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
