schemas/26.1/raw/IATA_PassengerConformanceIdentifyRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- IATA Passenger Conformance Identify Request v1.1 - Implementation Guide can be found here: https://extranet2.iata.org/sites/pemg/common-use-wg/tsg-webservices/Implementation%20Guide/Forms/AllItems.aspx -->
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="1.002" id="IATA2022.1">
	<xs:include schemaLocation="IATA_PBCS_CommonTypes.xsd"/>
	<xs:element name="IATA_PassengerConformanceIdentifyRQ">
		<xs:annotation>
			<xs:documentation>The request message for the Identify operation in the PassengerConformance services</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Originator" type="POS_Type">
					<xs:annotation>
						<xs:documentation>Identifies the airport where the identification is performed, the airport terminal and the originator.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InvokingBusinessActivity" type="BusinessActivityType">
					<xs:annotation>
						<xs:documentation>Business activity invoking the function.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Passenger">
					<xs:annotation>
						<xs:documentation>Container for Passenger Party information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GUID" type="GUID_Type" minOccurs="0">
								<xs:annotation>
									<xs:documentation>A Global Unique Identifier to locate the passenger.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NativeID" type="StringLength1to255" minOccurs="0">
								<xs:annotation>
									<xs:documentation>A unique Identifier native to the primary DCS to identify the passenger. This Native ID is only to be used in the confines of this service. The intended use is to faciliate faster lookups for certain DCSs.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Name" type="PersonNameType">
								<xs:annotation>
									<xs:documentation>Set of name elements of passenger.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CustomerLoyalty" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Frequent flyer reference.  ProgramID=airline code, MembershipID=FF number.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="CustomerLoyaltyGroup"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="BoardingPass" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Contains all data specific to a boarding pass and are not part of another structure or are repeated per segment</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ForIndividualAirlineUse" type="StringLength1to255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>See Resolution 792 attachment A and C. This field may contain additional identifiers that are specific per airline, among other data. Please note, using this field for identification breaks best practices for identifying a passenger.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DigitalSignature" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Digital signature generated according to the rules of the country where the boarding pass is used.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="StringLength1to255">
														<xs:attribute name="Type" type="StringLength1">
															<xs:annotation>
																<xs:documentation>Identifier of the type of security employed on the barcode.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Segment" maxOccurs="99">
								<xs:annotation>
									<xs:documentation>The set of segment contains the passengers travel plan. A segment contains the movement between two airport facilities using a flight movement.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PNR" type="PNR_Type">
											<xs:annotation>
												<xs:documentation>The record locator of the operating carrier using the ID attribute.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NativeID" type="StringLength1to255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>A unique Identifier native to the primary DCS to identify the segment. This Native ID is only to be used in the confines of this service. The intended use is to faciliate faster lookups for certain DCSs.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Flight">
											<xs:annotation>
												<xs:documentation>Container for flight  movement information</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NativeID" type="StringLength1to255" minOccurs="0">
														<xs:annotation>
															<xs:documentation>A unique Identifier native to the primary DCS to identify the flight. This Native ID is only to be used in the confines of this service. The intended use is to faciliate faster lookups for certain DCSs.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="OperatingCarrier" type="AirlineType">
														<xs:annotation>
															<xs:documentation>The operating carrier code.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FlightNumber" type="FlightNumberType">
														<xs:annotation>
															<xs:documentation>The actual flight number.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="OperationalSuffix" type="OperationalSuffixType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The operational suffix of the flight</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="MarketingCarrier" type="AirlineType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The marketing airline code. </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ScheduledDateOfDeparture" type="xs:date">
														<xs:annotation>
															<xs:documentation>The scheduled date of departure of the flight</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ScheduledTimeOfDeparture" type="xs:time" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The scheduled time of departure of the flight</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ScheduledDateOfArrival" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The date the flight is scheduled to arrive at the airport</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ScheduledTimeOfArrival" type="xs:time" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The time the flight is scheduled to arrive at the airport</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DepartureAirport" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The departure airport facility</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AirportCode" type="StationType">
														<xs:annotation>
															<xs:documentation>The code of the Airport</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="SourceIndicator" type="StringLength1">
														<xs:annotation>
															<xs:documentation>The source of the bag or passenger segment of travel. For Departure Airport this can be L=Local, T=Transfer, or R= Remote. For Arrival Airports this can be X=terminating T=Transfer. IATA RP1745 ".V" </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ArrivalAirport" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The arrival airport facility</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AirportCode" type="StationType">
														<xs:annotation>
															<xs:documentation>The Airport Code</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="SourceIndicator" type="StringLength1">
														<xs:annotation>
															<xs:documentation>The source of the bag or passenger segment of travel. For Departure Airport this can be L=Local, T=Transfer, or R= Remote. For Arrival Airports this can be X=terminating T=Transfer. IATA RP1745 ".V" </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Cabin" type="AlphaLength1" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Carpartment Code / Cabin Class. Refer to IATA PADIS code list 9873.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SeatNumber" type="AlphaNumericStringLength1to4" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Seat assigned for passenger</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CheckInSequenceNumber" type="StringLength1to5">
											<xs:annotation>
												<xs:documentation>See Resolution 792 attachment A and C.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
