schemas/26.1/raw/IATA_EMD_NeutralHistoryDisplayRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="3.008" id="IATA2022.1">
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_ET_CommonTypes.xsd"/>
	<xs:element name="IATA_EMD_NeutralHistoryDisplayRS">
		<xs:annotation>
			<xs:documentation>This message displays the history for an electronic miscellaneous document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation>Standard way to indicate successful processing of an IATA message. Returning an empty element of this type indicates success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Used in conjunction with the Success element to define one or more business errors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Passenger" minOccurs="0" maxOccurs="99">
						<xs:annotation>
							<xs:documentation>Ticket information for a passenger.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Name">
									<xs:annotation>
										<xs:documentation>The passenger name.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="PersonNameType">
												<xs:attributeGroup ref="TravelerCountGroup">
													<xs:annotation>
														<xs:documentation>use code for ptc.  </xs:documentation>
													</xs:annotation>
												</xs:attributeGroup>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Waiver" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>A code assigned by the validating carrier that allows fare rule modification or override.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="Code" type="AlphaNumericStringLength1to19" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A code assigned by the validating carrier that allows fare rule modification or override.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Type" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify the type of waiver code.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="ExchangedReissued"/>
													<xs:enumeration value="FareComponent"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="TicketDocument" maxOccurs="4">
									<xs:annotation>
										<xs:documentation>Ticket/document number, type, adult and child tkt connection numbers, in connection number, and date of issue.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CouponInfo" minOccurs="0" maxOccurs="4">
												<xs:annotation>
													<xs:documentation>Number, status, settlement authorization code,  and transaction date/time.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="SoldAirlineInfo" type="FlightSegmentType">
															<xs:annotation>
																<xs:documentation>The sold airline information for this coupon.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="CheckedInAirlineInfo" type="FlightSegmentType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>The checked in airline information for this coupon.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="FlownAirlineInfo" type="FlightSegmentType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>The flown airline information for this coupon.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="POS" type="POS_Type" minOccurs="0">
															<xs:annotation>
																<xs:documentation>The transaction id information.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="HistoricalStatus" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Provides the status of the flight/value coupon and date and time for the status.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="POS" type="POS_Type" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>The transaction id information. </xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="Status" type="IATA_CodeType">
																	<xs:annotation>
																		<xs:documentation>The current status of the flight/value coupon.  Refer to IATA PADIS Code List for data element 4405.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="TimeStamp" type="xs:dateTime">
																	<xs:annotation>
																		<xs:documentation>The historical date and time (zulu/UTC) of any transaction recorded in the data base.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="SettlementAuthCode" type="AlphaNumericStringLength1to14">
																	<xs:annotation>
																		<xs:documentation>A reference number generated by the validating carrier authorising settlement of a coupon.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="ReasonForIssuance" minOccurs="0">
															<xs:annotation>
																<xs:documentation>The reason for issuance information. jpsc2010</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attributeGroup ref="ReasonForIssuanceGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="AdditionalServicesInfo" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Identifies the ATPCO additional services information.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attributeGroup ref="AdditionalServicesGroup"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="Number" type="Numeric1to4" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">The coupon number.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="SettlementAuthCode" type="AlphaNumericStringLength1to14" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">A reference number generated by the validating carrier authorising settlement of a coupon.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NbrOfSvcs" type="NumericStringLength1to3">
														<xs:annotation>
															<xs:documentation>Number of services of the same type that are included in an EMD coupon.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="DateOfService" type="DateOrTimeOrDateTimeType">
														<xs:annotation>
															<xs:documentation>The scheduled date of service for this coupon of an EMD.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="en">Document number comprised of the airline code, form code, and serial number.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeTktNbrInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">If true, this is the ticket/document number for a ticket/document that is being exchanged.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="InConnectionDocType" type="IATA_CodeType">
											<xs:annotation>
												<xs:documentation>A code to specify the type of document to which the EMD-S is issued in connection with.  Refer to IATA PADIS Code List for data element 1001.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeDocDateOfIssue" type="xs:date">
											<xs:annotation>
												<xs:documentation>The exchanged document date of issue.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="FareComponent" type="FareComponentType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Price quote date, account code, input designator, and component count.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CarrierFeeInfo" type="CarrierFeeInfoType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Data for the collection of non-airport/government fees.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ExchResidualFareComponent" minOccurs="0" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>The exchanged residual fare component information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="FareComponentType">
												<xs:sequence>
													<xs:element name="Taxes" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The tax, fee, or charge amount information. </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Tax" maxOccurs="99">
																	<xs:annotation>
																		<xs:documentation>The tax for this exchanged residual fare component.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attributeGroup ref="FeeTaxGroup">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Used to specify tax information.  </xs:documentation>
																			</xs:annotation>
																		</xs:attributeGroup>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TotalAmount" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The total esidual value, including applicable tax, fees and charges.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="Purpose" type="PurposeType" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Not applicable here.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attributeGroup ref="CurrencyAmountGroup"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="OriginalIssueInfo" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The original ticket/document issue information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="IssuingAgentID" type="NumericStringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Id of the original issuer of the ticket.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DateOfIssue" type="xs:date" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The date the ticket was originally issued.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="LocationCode" type="StringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The location where the ticket was originally issued.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The original ticket/document number. </xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Information" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Original ticket issue information.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="34"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="ReissuedFlown" type="ReissuedFlownType" minOccurs="0" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>The reissued flown flight coupon information.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ResponseComment" type="FreeTextType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>A response message from the controlling carrier.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PresentInfo" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The present to and at information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="To" type="StringLength1to71" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Name of service provider.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="At" type="StringLength1to71" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The location of the service provider.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="ReasonForIssuance" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The reason for issuance information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="ReasonForIssuanceGroup"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="ValidatingAirline" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The validating airline for all EMD's for this passenger.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CompanyID_AttributesGroup"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="TotalFltSegQty" type="Numeric0to99" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="en">Total number of flight segments.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="QuantityGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">The number of booklets issued.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="SpecificData" type="StringLength1to32" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Passenger specific data.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="TaxOnCommissionInd" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">When true, a tax is to be calculated by the BSP Processing Centre.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="TicketingModeCode" type="IATA_CodeType" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="en">An indication of the method of ticket generation.  Refer to IATA PADIS codelist for data element 5387.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation>Errors are returned if the request was unable to be processed.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
