schemas/26.1/raw/IATA_UWS_CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="1.000" id="IATA2022.1">
	<xs:include schemaLocation="IATA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:attributeGroup name="FlightID_Group">
		<xs:annotation>
			<xs:documentation>Identifies a flight</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FlightNumber" type="FlightNumberType" use="required">
			<xs:annotation>
				<xs:documentation>The flight number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OperationalSuffix" type="OperationalSuffixType">
			<xs:annotation>
				<xs:documentation>Alpha character following a filght number assigned for operational purposes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AirlineDesig" type="AirlineType">
			<xs:annotation>
				<xs:documentation>The operating carrier code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DepartureDate" type="xs:date">
			<xs:annotation>
				<xs:documentation>The scheduled departure date of the first sectof of the flight in UTC></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="LocationGroup">
			<xs:annotation>
				<xs:documentation>The departure airport code.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:attributeGroup>
	<xs:attributeGroup name="ULD_ID_Group">
		<xs:annotation>
			<xs:documentation>Identifies a unit load device.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="AlphaLength4" use="required">
			<xs:annotation>
				<xs:documentation>The ULD type as defined IATA ULD Technical Manual and reference by AAHM909.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SerialNbr">
			<xs:annotation>
				<xs:documentation>The serial number of the ULD.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{4,6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ReferenceNbr">
			<xs:annotation>
				<xs:documentation>Reference number assigned by the loading system and used internally to reference a ULD.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{4,6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Owner">
			<xs:annotation>
				<xs:documentation>The ULD owner code.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9a-zA-Z]{2,4}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="SpecialLoadGroup">
		<xs:annotation>
			<xs:documentation>Special load information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Code" use="required">
			<xs:annotation>
				<xs:documentation>The special load code or dangerous goods code as specified in AHM510, par 2.2.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9a-zA-Z]{3}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TransportIndex" type="AlphaNumericStringLength1to5" use="optional">
			<xs:annotation>
				<xs:documentation>The transport index per the IATA Dangerous Goods Manual.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Weight" type="NumericStringLength1to5" use="optional">
			<xs:annotation>
				<xs:documentation>Weight of the special load.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SupplementaryInfo" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9a-zA-Z]{1,500}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="UWS_Type">
		<xs:sequence>
			<xs:element name="Originator" type="POS_Type">
				<xs:annotation>
					<xs:documentation>Identifies the system that is providing the data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightID">
				<xs:annotation>
					<xs:documentation>Identifies the flight for which the load signal information is being sent.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="FlightID_Group"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="UnitOfMeasurement">
				<xs:annotation>
					<xs:documentation>Used to specify the unit of measurement for weight and volume.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Weight" type="IATA_CodeType">
						<xs:annotation>
							<xs:documentation>The unit of measurement for  weight.  Refer to IATA PADIS Code List for data element 5463.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Volumne" type="IATA_CodeType" use="required">
						<xs:annotation>
							<xs:documentation>The unit of measurement for volume.  Refer to IATA PADIS Code List for data element 5463.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="ULD_Detail" minOccurs="0" maxOccurs="999">
				<xs:annotation>
					<xs:documentation>need annotation ??</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identification">
							<xs:annotation>
								<xs:documentation>The ULD identification.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="ULD_ID_Group"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="ModifiedUnitID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The ULD identification of a modified unit.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="ULD_ID_Group"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="LoadingAirport" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The loading airport code.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="LocationGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="UnloadingAirport" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unloading airport code.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="LocationGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="GrossWeight">
							<xs:annotation>
								<xs:documentation>The gross weight.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:integer">
										<xs:attribute name="Status" use="required">
											<xs:annotation>
												<xs:documentation>Specifies if the weight is actual or provisional.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="ACTUAL"/>
													<xs:enumeration value="PROVISIONAL"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="LoadCategory" type="AlphaNumericStringLength1to3" minOccurs="0" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>A load category as specified in 2HM510,(1.1-1.1)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ContourInfo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The contour code and number.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="Code" type="AlphaNumericStringLength2to3">
									<xs:annotation>
										<xs:documentation>The contour code according to AHM510 chapter 3.1, 1st column.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Number">
									<xs:annotation>
										<xs:documentation>The contour number according to AHM510 chapter 3.1, 2nd column.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="[0-9a-zA-Z]{2}"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="SpecialLoad" minOccurs="0" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>Special load information.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="SpecialLoadGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="StackedPalletID" minOccurs="0" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>All the additional pallets or ULDs that can be stacked on top of the lowest pallet.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="ULD_ID_Group"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="SupplementaryInfo" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="[0-9a-zA-Z]{1,500}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="LoadingPosition">
						<xs:annotation>
							<xs:documentation>The loading position code as described in AHM505.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[0-9a-zA-Z]{2,6}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NbrOfPieces" type="Numeric1to4" use="optional">
						<xs:annotation>
							<xs:documentation>The number of pieces.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Priority" type="IATA_CodeType">
						<xs:annotation>
							<xs:documentation>The freight priority.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="BulkDetail" minOccurs="0" maxOccurs="999">
				<xs:annotation>
					<xs:documentation>need annotation.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LoadingAirport" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The loading airport code.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="LocationGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="UnloadingAirport" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unloading airport code.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="LocationGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="NetWeight" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The net weight.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:integer">
										<xs:attribute name="Status" use="required">
											<xs:annotation>
												<xs:documentation>Specifies if the weight is actual or provisional.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="ACTUAL"/>
													<xs:enumeration value="PROVISIONAL"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="LoadCategory" type="AlphaNumericStringLength1to3" minOccurs="0" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>A load category as specified in 2HM510,(1.1-1.1)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SpecialLoad" minOccurs="0" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>Special load information.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="SpecialLoadGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="SupplementaryInfo" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="[0-9a-zA-Z]{1,500}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Identifier" type="AlphaNumericStringLength1to10" use="required">
						<xs:annotation>
							<xs:documentation>The identifier of the bulk load as assigned by the loading system.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Volume" type="xs:decimal">
						<xs:annotation>
							<xs:documentation>Volume of bulk load.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="NbrOfPieces" type="Numeric1to4" use="optional">
						<xs:annotation>
							<xs:documentation>The number of pieces in the bulk load.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Priority" type="IATA_CodeType">
						<xs:annotation>
							<xs:documentation>The freight priority.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="SupplementaryInfo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9a-zA-Z]{1,500}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="FinalInd" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>When true, this is the final message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NilIndicator" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>When true, there is no cargo to be loaded on this flight.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RevisionNbr" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation>Used to identify the order in which messages are transmistted.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
