tests/fixtures/test-version/raw/TestSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="CurrencyCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PassengerType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="DateOfBirth" type="xs:date" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="PassengerID" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="FlightSegmentType">
    <xs:sequence>
      <xs:element name="Departure">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AirportCode" type="xs:string"/>
            <xs:element name="Date" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Arrival">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AirportCode" type="xs:string"/>
            <xs:element name="Date" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="SegmentKey" type="xs:string"/>
  </xs:complexType>

  <xs:element name="AirShoppingRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CoreQuery">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OriginDestinations">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OriginDestination" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Departure" type="xs:string"/>
                          <xs:element name="Arrival" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Passengers" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Passenger" type="PassengerType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="SimpleElement" type="xs:string"/>

</xs:schema>
