schemas/26.1/IATA_EMD_NeutralRefundCancelRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="1.002" id="IATA2022.1">
	<xs:include schemaLocation="IATA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_ET_CommonTypes.xsd"/>
	<xs:element name="IATA_EMD_NeutralRefundCancelRQ">
		<xs:annotation>
			<xs:documentation>This message is used to cancel a refund message.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type">
					<xs:annotation>
						<xs:documentation>Information to identify who is cancelling the refund of the EMD.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TicketDocument" maxOccurs="99">
					<xs:annotation>
						<xs:documentation>Ticket/document number and the number of ticket document numbers.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Document number comprised of the airline code, form code, and serial number.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attributeGroup ref="QuantityGroup">
							<xs:annotation>
								<xs:documentation xml:lang="en">The number of booklets issued.</xs:documentation>
							</xs:annotation>
						</xs:attributeGroup>
						<xs:attribute name="DateOfIssue" type="xs:date">
							<xs:annotation>
								<xs:documentation>The date of issue.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
			<xs:attribute name="TicketDocQuantity" type="Numeric1to99" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">The total number of ticket/document numbers sent in this message.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
