schemas/26.1/IATA_TicketNeutralDisplayRS.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="3.008" id="IATA2022.1">
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_ET_CommonTypes.xsd"/>
	<xs:element name="IATA_TicketNeutralDisplayRS">
		<xs:annotation>
			<xs:documentation>This message displays an electronic ticket/document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation>Standard way to indicate successful processing of an IATA message. Returning an empty element of this type indicates success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Used in conjunction with the Success element to define one or more business errors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="POS" type="POS_Type">
						<xs:annotation>
							<xs:documentation>The ticket issuance originator code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BookingTicketingRefID" type="UniqueID_Type" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>The PNR reference.  Refer to IATA PADIS Code List data element 9958 for the code value for Type, ID = record locator, and CompanyName/Code = airline or CRS code. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IssuingAgencyAirlineInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name and place of issue of the agency or airline issuing the ticket/document.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="Name" type="StringLength1to71" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The name of the agency or airline issuing the document.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Place" type="StringLength1to71" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The place of issue of the document.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Passenger" minOccurs="0" maxOccurs="99">
						<xs:annotation>
							<xs:documentation>Ticket information for a passenger.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Name">
									<xs:annotation>
										<xs:documentation>The passenger name.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="PersonNameType">
												<xs:attributeGroup ref="TravelerCountGroup">
													<xs:annotation>
														<xs:documentation>use code for ptc.  </xs:documentation>
													</xs:annotation>
												</xs:attributeGroup>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="AgentID" type="UniqueID_Type" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>The agent numeric code, booking agent id, issuing agent id and/or servicing airline/system provider id.  Refer to IATA PADIS  Code List 9893 for the code value for Type. </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="BookingTicketingRefID" type="UniqueID_Type" minOccurs="0" maxOccurs="2">
									<xs:annotation>
										<xs:documentation>The PNR reference.  Refer to IATA PADIS Code List data element 9958 for the code value for Type, ID = record locator, and CompanyName/Code = airline or CRS code. </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PaymentDetail" minOccurs="0" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>Form of payment information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="PaymentDetailType">
												<xs:sequence>
													<xs:element name="Sponsor" type="FreeTextType" minOccurs="0" maxOccurs="5">
														<xs:annotation>
															<xs:documentation>Name, address, and telephone number of purchaser when other than the passenger.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="PaymentType" type="IATA_CodeType" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">The type of form of payment, e.g. credit card, cash.  Refer to IATA PADIS code list for data element 9888.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="CertificateNbr" type="AlphaNumericStringLength1to14" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">A number assigned to a certificate which was surrendered at the time of the original ticket sale.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Qualifier" type="IATA_CodeType" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">Used to specify if this is the old, new, or orginal form of payment.  Refer to IATA PADIS Code List for data element 9988.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Text" type="StringLength1to71" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">Free text for a form of payment.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="OriginDestination" minOccurs="0">
									<xs:annotation>
										<xs:documentation>True origin and destination.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="OriginDestinationGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">The true origin and destination city codes.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
								<xs:element name="CustLoyalty" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>Frequent flyer reference.  ProgramID=airline code, MembershipID=FF number.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CustomerLoyaltyGroup"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="Endorsement" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Endorsement/restriction remarks.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="Info" type="StringLength1to255" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Remarks provided to ensure common understanding between the passenger and an airline when a fare is resricted.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="AddlReferenceID" type="UniqueID_Type" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>ID contains the actual identifier  - Invoice, airline confirmation number, customer id or airline indexing field.  Refer to IATA PADIS Code List for data element 9958 for the code value for Type.  If FOID information is being sent, the type of FOID as defined by AIRIMP is sent in ID_Context.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="BaseFare" minOccurs="0" maxOccurs="3">
									<xs:annotation>
										<xs:documentation>Used to specify the base fare, the base fare net and the base fare sell amounts.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CurrencyAmountGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify the base, base net, or base sell fare.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attribute name="Purpose" type="PurposeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify if just base or base fare net or base fare sell.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="FareAmountType" type="FareAmountType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify if ticket fare is bulk ticket, inclusive tour, or no additional charge.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="EquivFare" minOccurs="0" maxOccurs="3">
									<xs:annotation>
										<xs:documentation>Used to specify the equivalent , equivalent net or equivalent sell paid fare.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CurrencyAmountGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">The equivalent fare paid, equivalent fare paid net amount, or the equivalent fare paid sell amount.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attribute name="Purpose" type="PurposeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify if just equivalent fare paid or paid net or paid sell.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="FareAmountType" type="FareAmountType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify if ticket fare is bulk ticket, inclusive tour, or no additional charge.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="TotalFare" minOccurs="0" maxOccurs="3">
									<xs:annotation>
										<xs:documentation>Used to specify the total, total net, total sell fare or refund amount.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CurrencyAmountGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">The total, total net, or total sell fare.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attribute name="Purpose" type="PurposeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify if total amount, total net or total sell.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="FareAmountType" type="FareAmountType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify if ticket fare is bulk ticket, inclusive tour, or no additional charge.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeRate" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>The banker's selling rate used to convert the base amount into the equivalent amount.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="Taxes" minOccurs="0">
									<xs:annotation>
										<xs:documentation>A collection of taxes.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Tax" maxOccurs="99">
												<xs:annotation>
													<xs:documentation>The tax applicable to the ticket/document.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attributeGroup ref="FeeTaxGroup">
														<xs:annotation>
															<xs:documentation xml:lang="en">Used to specify type of tax, amount, currency code and whether new or paid tax.</xs:documentation>
														</xs:annotation>
													</xs:attributeGroup>
													<xs:attribute name="RefundableInd" type="xs:boolean" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">If true, this tax amount is to be/was refunded.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="UnstructuredFareCalcInfo" minOccurs="0" maxOccurs="3">
									<xs:annotation>
										<xs:documentation>Fare calculation area, net amount, sell amount, pricing indicator, and reporting indicator.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="UnstructuredFareCalcGroup"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="FareInfo" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Account code, net reporting code, nonendorsable and nonrefundable indicators, penalty restriction indicator, pricing system, statistical code, tour code, present credit card indicator and the around the world fare indicator.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="ET_FareInfo">
												<xs:sequence>
													<xs:element name="PenaltyAmount" type="VoluntaryChangesType" minOccurs="0" maxOccurs="3">
														<xs:annotation>
															<xs:documentation>Non-refundable, no value, penalty amounts.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="AccountCode" type="StringLength1to32" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">A qualifier for pricing to select fares.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="NonEndorsableInd" type="xs:boolean" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">When true, the fare is nonendorsable.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="NonRefundableInd" type="xs:boolean" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">When true, the fare is non refundable.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="PenaltyRestrictionInd" type="xs:boolean" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">When true, a penalty restriction applies.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attributeGroup ref="CompanyID_AttributesGroup">
													<xs:annotation>
														<xs:documentation xml:lang="en">A two/three character, IATA assigned, code identifying the system used to price the itinerary for the ticket being issued.</xs:documentation>
													</xs:annotation>
												</xs:attributeGroup>
												<xs:attribute name="PresentCreditCardInd" type="xs:boolean" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">When true, the credit/debit card used for purchase must be presented.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="AroundTheWorldFareInd" type="xs:boolean" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">When true, this fare is classifed as a published/promotional 'Around the World' fare.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="TicketDocument" maxOccurs="4">
									<xs:annotation>
										<xs:documentation>Ticket/document number, type, adult and child tkt connection numbers, in connection number, and date of issue.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CouponInfo" minOccurs="0" maxOccurs="4">
												<xs:annotation>
													<xs:documentation>Number, status, in connection nbr, itinerary sequence nbr, coupon ref, fare basis code, not valid before/after, free baggage allowance.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="CouponInfoType">
															<xs:sequence>
																<xs:element name="Bagtag" minOccurs="0" maxOccurs="99">
																	<xs:annotation>
																		<xs:documentation>The baggage tag numbers issued for checked-in baggage and the baggage pool inidcator.  Not used in 722g.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="IssuerCode" type="AlphaNumericStringLength1to3" use="required">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The issuer of the bagtag.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="SerialNumber" use="required">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The bagtag number.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:pattern value="[0-9]{6}"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="SequenceCount" type="Numeric0to99" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The number of sequential bagtag numbers.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="BaggagePoolIndicator" type="xs:boolean" use="optional">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">When true, the baggage is pooled.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attributeGroup ref="UnitsOfMeasureGroup">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The applicable free baggage allowance.  UnitOfMeasureQuanity will contain either the weight or the number of pieces.  Refer to IATA PADIS Code List for data element  5463 for the code value for UnitOfMeasureCode.</xs:documentation>
																			</xs:annotation>
																		</xs:attributeGroup>
																	</xs:complexType>
																</xs:element>
																<xs:choice>
																	<xs:element name="CurrentAirlineInfo" type="FlightSegmentType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>The currenct airline information.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="CheckedInAirlineInfo" type="FlightSegmentType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>The checked-in airline information.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="FlownAirlineInfo" type="FlightSegmentType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>The flown airline information.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:choice>
																<xs:element name="AddlBaggageInfo" type="AddlBaggageInfoType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Carry-on and checked baggage allowances.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="InConnectionWithInfo" minOccurs="0" maxOccurs="99">
																	<xs:annotation>
																		<xs:documentation>Document and coupon informaton related to this coupon.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="InConnectionDocNbr" type="StringLength1to16">
																			<xs:annotation>
																				<xs:documentation>A document number representing a transaction that is issued in relation to this coupon.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="InConnectionNbr" type="Numeric1to4">
																			<xs:annotation>
																				<xs:documentation>The coupon number associated with the 'inconnection with' document.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="Status" type="IATA_CodeType" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The status of the coupon.  Refer to IATA PADIS Code List for data element 4405.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="CouponItinerarySeqNbr" type="Numeric0to99" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The number representing the order in which this coupon was used or is to be used.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attributeGroup ref="UnitsOfMeasureGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The applicable free baggage allowance.  UnitOfMeasureQuanity will contain either the weight or the number of pieces.  Refer to IATA PADIS Code List for data element  5463 for the code value for UnitOfMeasureCode.</xs:documentation>
																</xs:annotation>
															</xs:attributeGroup>
															<xs:attribute name="InvoluntaryIndCode" type="IATA_CodeType" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Used to indicate when a tranaction ocurred due to an involuntary change.  Refer to IATA PADIS Code List for data element 1245.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="SettlementAuthCode" type="AlphaNumericStringLength1to14" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">A reference number generated by the validating carrier authorising settlment of a coupon.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="AssociateInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">When true, the coupon is associated.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="DeterminingCarrierCode" type="AirlineType">
																<xs:annotation>
																	<xs:documentation>The carrier code that was determined to be the applicable carrier code for the free baggage allowance.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="NoShowInd" type="xs:boolean">
																<xs:annotation>
																	<xs:documentation>When true, the passenger failed to use reserved accommodation for reasons other than misconnections.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="FareFamilyName" type="AlphaNumericStringLength10">
																<xs:annotation>
																	<xs:documentation>The fare family name chosen by a carrier to designate a bundled offer.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="AddlBaggageInfo" type="AddlBaggageInfoType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Carry-on and checked baggage allowances.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="en">Document number comprised of the airline code, form code, and serial number.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Type" type="IATA_CodeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to indicate a ticket or EMD.  Refer to IATA PADIS Code List for data element 1001.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="PrimaryDocInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">When true, this is the primary ticket/document number. </xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="InConnectionDocNbr" type="StringLength1to16" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A document number representing a transaction that is issued in relation to this transaction.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DateOfIssue" type="xs:date" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The date a document was issued.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeTktNbrInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">If true, this is the ticket/document number for a ticket/document that is being exchanged.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="TimeOfIssue" type="DateOrTimeOrDateTimeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The local time the document was issued in the format HHMM using the 24 hour clock.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="TicketLocation" type="AlphaNumericStringLength1to5" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">City or airport code identifying the ticketing location.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="RoutingDomIntCode" use="optional">
											<xs:annotation>
												<xs:documentation>For tickets, EMD-A and EMD-S with routing, use D if all board and off points within the same country.  If all board and off points are  not within the same country, use  I.  If EMD-S with no routing, do not use.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="D">
														<xs:annotation>
															<xs:documentation>Domestic</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="I">
														<xs:annotation>
															<xs:documentation>International</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="InConnectionDocDateOfIssue" type="xs:date">
											<xs:annotation>
												<xs:documentation>The inconnection document date of issue.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeDocDateOfIssue" type="xs:date">
											<xs:annotation>
												<xs:documentation>The exchanged document date of issue.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="TravelCommencementDate" type="xs:date">
											<xs:annotation>
												<xs:documentation>The date of the first flight of the priced itinerary applied at the document level.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeReissue">
											<xs:annotation>
												<xs:documentation>Identifies whether the ticket was the result of an exchange or a reissue of a ticket.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="E">
														<xs:annotation>
															<xs:documentation>The ticket was the result of an exchange.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="R">
														<xs:annotation>
															<xs:documentation>The ticket is the result of a reissue.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="Commission" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Commission information for this ticket/document.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CommissionGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">Data for the collection of non-airport/government fees.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
								<xs:element name="FareComponent" type="FareComponentType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Price quote date, account code, input designator, and component count.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="StaffDetail" type="StaffDetailType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID number, employing airline, joining date, res entitlement indicator, status, type of travel, ticket type.  Refer to IATA PADIS Code List for data element 1153 for the code value for Type. </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CarrierFeeInfo" type="CarrierFeeInfoType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Data for the collection of non-airport/government fees.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ExchResidualFareComponent" minOccurs="0" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>Tfhe reissued residual fare component information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="FareComponentType">
												<xs:sequence>
													<xs:element name="Taxes" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The tax, fee, or charge amount information. </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Tax" maxOccurs="99">
																	<xs:complexType>
																		<xs:attributeGroup ref="FeeTaxGroup">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Used to specify tax information.  </xs:documentation>
																			</xs:annotation>
																		</xs:attributeGroup>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TotalAmount" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The total esidual value, including applicable tax, fees and charges.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="Purpose" type="PurposeType" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Not applicable here.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attributeGroup ref="CurrencyAmountGroup"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="OriginalIssueInfo" minOccurs="0" maxOccurs="9">
									<xs:annotation>
										<xs:documentation>The original ticket/document issue information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="IssuingAgentID" type="NumericStringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Id of the original issuer of the ticket.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DateOfIssue" type="xs:date" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The date the ticket was originally issued.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="LocationCode" type="StringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The location where the ticket was originally issued.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The original ticket/document number. </xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Information" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Original ticket issue information.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="34"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="ReissuedFlown" type="ReissuedFlownType" minOccurs="0" maxOccurs="99">
									<xs:annotation>
										<xs:documentation>The reissued flown flight coupon information.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ResponseComment" type="FreeTextType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>A response message from the controlling carrier.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TaxCouponInformation" type="TaxCouponType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Used to specify tax coupon information.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="FareTransaction" type="FareTransactionType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The fare transaction information.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PricingInfo" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Pricing information for the booked itienerary.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="PricingInformationGroup"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="ReissuedTicketInfo" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The reissued ticket document number and the date of issue.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="ReissuedTktInfoGroup"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="GST_Info" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The GST information.  The information may be sent as either structured data or free text with a slash delimiter.  </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:choice>
											<xs:element name="StructuredInfo">
												<xs:annotation>
													<xs:documentation>The goods and services tax information.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="GST_Number" type="AlphaNumericStringLength1to20">
														<xs:annotation>
															<xs:documentation>The GST number of the business.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="Country" type="ISO3166">
														<xs:annotation>
															<xs:documentation>The country in which the tax applies.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="CompanyName">
														<xs:annotation>
															<xs:documentation xml:lang="en">Name of the registered business</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[0-9a-zA-Z]{1,35}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="AddressLine1">
														<xs:annotation>
															<xs:documentation xml:lang="en">The first line of the business address</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[0-9a-zA-Z]{1,35}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="AddressLine2">
														<xs:annotation>
															<xs:documentation xml:lang="en">The first line of the business address</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[0-9a-zA-Z]{1,25}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="City">
														<xs:annotation>
															<xs:documentation xml:lang="en">The city where the business is located</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[0-9a-zA-Z]{1,25}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="StateProvinceCounty">
														<xs:annotation>
															<xs:documentation xml:lang="en">The state, province or county where the business is located</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[0-9a-zA-Z]{1,25}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="PostalCode">
														<xs:annotation>
															<xs:documentation xml:lang="en">The postal or zip code for the address</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[0-9a-zA-Z]{1,17}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="PhoneNbrCountry" type="AlphaNumericStringLength1to3">
														<xs:annotation>
															<xs:documentation>The country code for the phone number.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="FirstBusinessPhone">
														<xs:annotation>
															<xs:documentation xml:lang="en">A business phone number.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[0-9]{1,15}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="SecondBusinessPhone">
														<xs:annotation>
															<xs:documentation xml:lang="en">A business phone number.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[0-9]{1,15}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="EmailAddress">
														<xs:annotation>
															<xs:documentation xml:lang="en">The business email address</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[0-9a-zA-Z]{1,35}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="UnstructuredInfo">
												<xs:annotation>
													<xs:documentation>Goods and services tax information.  The data will be sent in this order separated by a /:   GST Number, country owning GST, business name, business address line 1, business address line 2, business address city, business address state or province or county, zip code or postal code, business phone number country, first business phone number, second business phone number, business email. </xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="350"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:choice>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="TotalFltSegQty" type="Numeric0to99" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="en">Total number of flight segments.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="QuantityGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">The number of booklets issued.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="SpecificData" type="StringLength1to32" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Passenger specific data.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="PhoneNumber" type="StringLength1to32" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The passenger telephone number.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="TaxOnCommissionInd" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">When true, a tax is to be calculated by the BSP Processing Centre.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="TicketingModeCode" type="IATA_CodeType" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="en">An indication of the method of ticket generation.  Refer to IATA PADIS codelist for data element 5387.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="RefundCalcMethod" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the method of how the refund was calculated.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="System"/>
										<xs:enumeration value="Manual"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation>Errors are returned if the request was unable to be processed.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
