schemas/26.1/IATA_BaggageConformanceIdentifyRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- IATA Baggage Conformance Identify Request v1.1 - Implementation Guide can be found here: https://extranet2.iata.org/sites/pemg/common-use-wg/tsg-webservices/Implementation%20Guide/Forms/AllItems.aspx -->
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="1.002" id="IATA2022.1">
	<xs:include schemaLocation="IATA_PBCS_CommonTypes.xsd"/>
	<xs:element name="IATA_BaggageConformanceIdentifyRQ">
		<xs:annotation>
			<xs:documentation>The request message for the Identify operation in the BaggageConformance Services</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Originator" type="POS_Type">
					<xs:annotation>
						<xs:documentation>Identifies the airport, the airport terminal and the originator where the request is performed</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InvokingBusinessActivity" type="BusinessActivityType">
					<xs:annotation>
						<xs:documentation>Business activity invoking the function.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Bag">
					<xs:annotation>
						<xs:documentation>Container for Baggage Item information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GUID" type="GUID_Type" minOccurs="0">
								<xs:annotation>
									<xs:documentation>A Global Unique Identifier to identify the Bag</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NativeID" type="StringLength1to255" minOccurs="0">
								<xs:annotation>
									<xs:documentation>A unique Identifier native to the primary DCS to identify the bag. This Native ID is only to be used in the confines of this service. The intended use is to faciliate faster lookups for certain DCSs.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="BagTagNumber">
								<xs:annotation>
									<xs:documentation>The number issued to an item which may be reused by the system. This is also known as Licence Plate where the item is a bag.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="BaggageTagNumberType"/>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Passenger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Container for Passenger Party information</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GUID" type="GUID_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>A Global Unique Identifier to locate the passenger.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NativeID" type="StringLength1to255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>A unique Identifier native to the primary DCS to identify the passenger. This Native ID is only to be used in the confines of this service. The intended use is to faciliate faster lookups for certain DCSs.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Name" type="PersonNameType">
											<xs:annotation>
												<xs:documentation>Set of name elements of passenger.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CustomerLoyalty" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Frequent flyer reference.  ProgramID=airline code, MembershipID=FF number.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="CustomerLoyaltyGroup"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Segment" minOccurs="0" maxOccurs="99">
								<xs:annotation>
									<xs:documentation>The set of segment contains the bag's travel plan. A segment contains the movement between two airport facilities using a flight movement.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NativeID" type="StringLength1to255" minOccurs="0">
											<xs:annotation>
												<xs:documentation>A unique Identifier native to the primary DCS to identify the segment. This Native ID is only to be used in the confines of this service. The intended use is to faciliate faster lookups for certain DCSs.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Flight">
											<xs:annotation>
												<xs:documentation>Container for flight movement information</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NativeID" type="StringLength1to255" minOccurs="0">
														<xs:annotation>
															<xs:documentation>A unique Identifier native to the primary DCS to identify the flight. This Native ID is only to be used in the confines of this service. The intended use is to faciliate faster lookups for certain DCSs.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="OperatingCarrier" type="AirlineType">
														<xs:annotation>
															<xs:documentation>The operating carrier code.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="FlightNumber" type="FlightNumberType">
														<xs:annotation>
															<xs:documentation>The actual flight number.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="OperationalSuffix" type="OperationalSuffixType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The operational suffix of the flight</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="MarketingCarrier" type="AirlineType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The marketing airline code. </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ScheduledDateOfDeparture" type="xs:date">
														<xs:annotation>
															<xs:documentation>The scheduled date of departure of the flight</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ScheduledTimeOfDeparture" type="xs:time" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The scheduled time of departure of the flight</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ScheduledDateOfArrival" type="xs:date" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The date the flight is scheduled to arrive at the airport</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ScheduledTimeOfArrival" type="xs:time" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The time the flight is scheduled to arrive at the airport</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Passenger">
											<xs:annotation>
												<xs:documentation>Passenger data specific per segment</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PNR" type="PNR_Type">
														<xs:annotation>
															<xs:documentation>The Passenger Name Record  locator of the operating carrier</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
