schemas/26.1/IATA_SlotImprovementRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="1.002" id="IATA2022.1">
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_SlotCommonTypes.xsd"/>
	<xs:element name="IATA_SlotImprovementRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">This message allows an airline to accept or decline a proposed slot improvement.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseStatus">
					<xs:annotation>
						<xs:documentation xml:lang="en">The coordination season for this slot improvement request.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="Accept"/>
							<xs:enumeration value="Decline"/>
							<xs:enumeration value="ProvisionallyAccept"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ProvAcceptanceReason" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The reason why the airline has provisionally accepted the proposed schedule.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9a-zA-Z]{1,80}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
