schemas/26.1/IATA_EMD_AirlineUnsolicitedBillingNotifRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="1.003" id="IATA2022.1">
	<xs:include schemaLocation="IATA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="IATA_ET_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:element name="IATA_EMD_AirlineUnsolicitedBillingNofifRS">
		<xs:annotation>
			<xs:documentation>This message allows a carrier to acknowledge or deny an unsolicited airport billing request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation>Standard way to indicate successful processing of an IATA message. Returning an empty element of this type indicates success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Used in conjunction with the Success element to define one or more business errors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResponseComment" type="FreeTextType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free form information generated by the controlling carrier to further define the response code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TicketNumber" minOccurs="0" maxOccurs="99">
						<xs:annotation>
							<xs:documentation>The ticket/document number for which a business error is being returned.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Warnings" type="WarningsType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Used to return one or more business errors for a specific ticket document number.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="required"/>
							<xs:attribute name="DateOfIssue" type="xs:date">
								<xs:annotation>
									<xs:documentation>The date of issue.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Errors" type="ErrorsType">
						<xs:annotation>
							<xs:documentation>Errors are returned if the request was unable to be processed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
