schemas/26.1/IATA_SlotRunwayCapacityNotifRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="2.001" id="IATA2022.1">
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_SlotCommonTypes.xsd"/>
	<xs:element name="IATA_SlotRunwayCapacityNotifRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">This message is used to push runway capacity information for a specific airport.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">The originator of the message.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CapacityInformation" type="RunwayCapacityInformationType">
					<xs:annotation>
						<xs:documentation>The capacity information for an airport.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
			<xs:attribute name="TimeType" type="TimeType" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies that times are either in local or UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
