schemas/26.1/IATA_TicketNeutralSystemCancelRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2007/00" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="1.006" id="IATA2022.1">
	<xs:include schemaLocation="IATA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:element name="IATA_TicketNeutralSystemCancelRS">
		<xs:annotation>
			<xs:documentation>This message is used to respond to a ticket system cancel request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation>Standard way to indicate successful processing of an IATA message. Returning an empty element of this type indicates success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Used in conjunction with the Success element to define one or more business errors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TicketDocument" minOccurs="0" maxOccurs="99">
						<xs:annotation>
							<xs:documentation>The ticket document number that was cancelled.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Warnings" type="WarningsType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Used to return one or more business errors for a specific ticket document number.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Document number comprised of the airline code, form code, and serial number.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="DateOfIssue" type="xs:date">
								<xs:annotation>
									<xs:documentation>The date of issue.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Errors" type="ErrorsType">
						<xs:annotation>
							<xs:documentation>Errors are returned if the request was unable to be processed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
			<xs:attribute name="Function">
				<xs:annotation>
					<xs:documentation>To specify if this is a system cancel of an original issue or an exchange/reissue.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="OriginalIssue"/>
						<xs:enumeration value="ExchangeReissue"/>
						<xs:enumeration value="Refund"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
