schemas/26.1/IATA_TicketGroundHandlingDisplayRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2007/00" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2007/00" elementFormDefault="qualified" version="2.008" id="IATA2022.1">
	<xs:include schemaLocation="IATA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="IATA_CommonTypes.xsd"/>
	<xs:include schemaLocation="IATA_ET_CommonTypes.xsd"/>
	<xs:element name="IATA_TicketGroundHandlingDisplayRS">
		<xs:annotation>
			<xs:documentation>This message displays an electronic ticket.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation>Standard way to indicate successful processing of an IATA message. Returning an empty element of this type indicates success.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Used in conjunction with the Success element to define one or more business errors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AgentID" type="UniqueID_Type" minOccurs="0" maxOccurs="3">
						<xs:annotation>
							<xs:documentation>The booking, servicing. and issuing agent ids.  Refer to IATA PADIS Code List 9893 for the code value for Type. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BookingTicketingRefID" type="UniqueID_Type" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>The PNR reference.  Type = 1 in IATA PADIS codelist for data element 1153, ID = record locator, and CompanyName/Code = airline or CRS code. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IssuingAgencyAirlineInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name and place of issue of the agency or airline issuing the ticket/document.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute name="Name" type="StringLength1to71" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The name of the agency or airline issuing the document.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Place" type="StringLength1to71" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The place of issue of the document.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="Passenger" minOccurs="0" maxOccurs="99">
						<xs:annotation>
							<xs:documentation>Ticket information for a passenger.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Name">
									<xs:annotation>
										<xs:documentation>The passenger name.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="PersonNameType"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="POS" type="POS_Type">
									<xs:annotation>
										<xs:documentation>The ticket issuing orignator code and agent pseudo city code.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PaymentDetail" minOccurs="0" maxOccurs="9">
									<xs:annotation>
										<xs:documentation>Form of payment information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="PaymentDetailType">
												<xs:sequence>
													<xs:element name="Sponsor" type="FreeTextType" minOccurs="0" maxOccurs="5">
														<xs:annotation>
															<xs:documentation>Name, address, and telephone number of purchaser when other than the passenger.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="PaymentType" type="IATA_CodeType" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">The type of form of payment, e.g. credit card, cash.  Refer to IATA PADIS code list for data element 9888.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="CertificateNbr" type="AlphaNumericStringLength1to14" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">A number assigned to a certificate which was surrendered at the time of the original ticket sale.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Qualifier" use="optional">
													<xs:annotation>
														<xs:documentation>Used to specify if this is the old, new, or orginal form of payment.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="Old"/>
															<xs:enumeration value="New"/>
															<xs:enumeration value="Original"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Text" type="StringLength1to71" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="en">Free text information for this form of payment.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="OriginDestination" minOccurs="0">
									<xs:annotation>
										<xs:documentation>True origin and destination.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="OriginDestinationGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">The true origin and destination city codes.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
								<xs:element name="CustLoyalty" minOccurs="0" maxOccurs="5">
									<xs:annotation>
										<xs:documentation>Frequent flyer reference.  ProgramID=airline code, MembershipID=FF number.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CustomerLoyaltyGroup"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="Endorsement" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Endorsement/restriction remarks.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="Info" type="StringLength1to255" use="optional">
											<xs:annotation>
												<xs:documentation>Endorsement information.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="AddlReferenceID" type="UniqueID_Type" minOccurs="0" maxOccurs="6">
									<xs:annotation>
										<xs:documentation>ID contains the actual identifier  - Invoice, airline confirmation number, customer id, customer file reference, foid or airline indexing field.  Refer to IATA PADIS Code List for data element 1153 for the code value for Type for Foid and to data element 9958 for all other values for Type.  If FOID information is being sent, the type of FOID as defined by AIRIMP is sent in ID_Context.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="BaseFare" minOccurs="0" maxOccurs="2">
									<xs:annotation>
										<xs:documentation>Used to specify the base fare and the base fare net amounts.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CurrencyAmountGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify the base and the base fare net amounts.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attribute name="Purpose" type="PurposeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify if just base or base fare net or base fare sell.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="EquivFare" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Used to specify the equivalent paid fare.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CurrencyAmountGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">The equivalent fare paid.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attribute name="Purpose" type="PurposeType">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify if just equivalent fare paid or paid net or paid sell.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="TotalFare" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Used to specify the total ticket amount.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="CurrencyAmountGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">The total ticket amount.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attribute name="Purpose" type="PurposeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to specify if total amount, total net or total sell.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeRate" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>The banker's selling rate used to convert the base amount into the equivalent amount.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="Taxes" minOccurs="0">
									<xs:annotation>
										<xs:documentation>A collection of taxes.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Tax" maxOccurs="99">
												<xs:annotation>
													<xs:documentation>The tax applicable to the ticket/document.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attributeGroup ref="FeeTaxGroup">
														<xs:annotation>
															<xs:documentation xml:lang="en">Used to specify type of tax, amount, currency code and whether new or paid tax.</xs:documentation>
														</xs:annotation>
													</xs:attributeGroup>
													<xs:attribute name="RefundableInd" type="xs:boolean" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">If true, this tax amount is to be/was refunded.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="UnstructuredFareCalcInfo" minOccurs="0" maxOccurs="3">
									<xs:annotation>
										<xs:documentation>Fare calculation area, pricing indicator, and reporting indicator.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="UnstructuredFareCalcGroup"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="FareInfo" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Net reporting code, nonendorsable and nonrefundable indicators, penalty restriction indicator, pricing system, tour code, and present credit/debit card indicator.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="PenaltyAmount" type="VoluntaryChangesType" minOccurs="0" maxOccurs="3">
												<xs:annotation>
													<xs:documentation>Non-refundable, no value, penalty amounts.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Waiver" minOccurs="0" maxOccurs="5">
												<xs:annotation>
													<xs:documentation>A code assigned by the validating carrier that allows fare rule modification or override.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attribute name="Code" type="AlphaNumericStringLength1to19" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">A code assigned by the validating carrier that allows fare rule modification or override.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="NetReportingCode" type="AlphaNumericStringLength1to3" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A code indicating the transaction is subject to a net reporting arrangement.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NonEndorsableInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">When true, the fare is nonendorsable.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="NonRefundableInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">When true, the fare is non refundable.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="PenaltyRestrictionInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">When true, a penalty restriction applies.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attributeGroup ref="CompanyID_AttributesGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">A two/three character, IATA assigned, code identifying the system used to price the itinerary for the ticket being issued.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attribute name="TourCode" type="StringLength1to16" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The applicable tour code.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="CountryCodeOfIssue" type="ISO3166" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The country code where the ticket is issued.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="PresentCreditDebitInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Indicates credit/debit card used for purchase of the ticket shall be presented.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="TicketDocument" maxOccurs="4">
									<xs:annotation>
										<xs:documentation>Ticket/document number, type, adult and child tkt connection numbers, in connection number, and date of issue.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CouponInfo" maxOccurs="4">
												<xs:annotation>
													<xs:documentation>Number, status, in connection nbr, itinerary sequence nbr, coupon ref, fare basis code, not valid before/after, free baggage allowance.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="CouponInfoType">
															<xs:sequence>
																<xs:element name="Bagtag" minOccurs="0" maxOccurs="99">
																	<xs:annotation>
																		<xs:documentation>The baggage tag numbers, pool indicators, and baggage weight/pieces.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attributeGroup ref="BagTagGroup">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">The bag tag information.</xs:documentation>
																			</xs:annotation>
																		</xs:attributeGroup>
																		<xs:attributeGroup ref="UnitsOfMeasureGroup"/>
																		<xs:attribute name="UnitOfMeasureQualifier" type="IATA_CodeType" use="optional">
																			<xs:annotation>
																				<xs:documentation>Specifies if unit of measure is for weight or pieces.  Refer to IATA PADIS Code List for data element 5463.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:choice>
																	<xs:element name="CurrentAirlineInfo" type="FlightSegmentType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>The current airline information.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="CheckedInAirlineInfo" type="FlightSegmentType" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>The checked-in/lifted airline information.</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="FlownAirlineInfo" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>The flown airline information.</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="FlightSegmentType">
																					<xs:attribute name="CabinDesig" type="AlphaLength1" use="optional">
																						<xs:annotation>
																							<xs:documentation>The code used to identify the compartment on an aircraft on which the journey has been completed.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:extension>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																</xs:choice>
																<xs:element name="AddlBaggageInfo" type="AddlBaggageInfoType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Carry-on and checked baggage allowances.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="Status" type="IATA_CodeType" use="optional">
																<xs:annotation>
																	<xs:documentation>The status of the  coupon.  Refer to IATA PADIS Code List for data element 4405.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="CouponItinerarySeqNbr" type="Numeric0to99" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The number representing the order in which this coupon was used or is to be used.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attributeGroup ref="UnitsOfMeasureGroup">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The free baggage allowance.</xs:documentation>
																</xs:annotation>
															</xs:attributeGroup>
															<xs:attribute name="UnitOfMeasureQualifier" use="optional">
																<xs:annotation>
																	<xs:documentation>Specifies if unit of measure is for weight or pieces.  Refer to IATA PADIS Code List for data element 5463.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="Weight"/>
																		<xs:enumeration value="Piece"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="InvoluntaryIndCode" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Used to indicate when a tranaction ocurred due to an involuntary change.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="I">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Involuntary - no reason given.</xs:documentation>
																			</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="L">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Labour/strike</xs:documentation>
																			</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="S">
																			<xs:annotation>
																				<xs:documentation xml:lang="en">Schedule change</xs:documentation>
																			</xs:annotation>
																		</xs:enumeration>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="AssociateInd" type="xs:boolean" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">When true, the coupon should be associated.  When false, it should be disassociated.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="DeterminingCarrierCode" type="AirlineType">
																<xs:annotation>
																	<xs:documentation>The carrier code that was determined to be the applicable carrier code for the free baggage allowance.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="NoShowInd" type="xs:boolean">
																<xs:annotation>
																	<xs:documentation>When true, the passenger failed to use reserved accommodation for reasons other than misconnections.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="FareFamilyName" type="AlphaNumericStringLength10">
																<xs:annotation>
																	<xs:documentation>The fare family name chosen by a carrier to designate a bundled offer.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="AddlBaggageInfo" type="AddlBaggageInfoType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Carry-on and checked baggage allowances.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="en">Document number comprised of the airline code, form code, and serial number.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Type" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Used to indicate a ticket or EMD.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="Ticket"/>
													<xs:enumeration value="EMD"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="PrimaryDocInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation>When true, this is the primary ticket/document number. </xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="InConnectionDocNbr" type="StringLength1to16" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The ticket/document number of another ticket to which this ticket is connected.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DateOfIssue" type="xs:date" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The date a document was issued.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeTktNbrInd" type="xs:boolean" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">If true, this is the ticket/document number for a ticket/document that is being exchanged.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="InConnectionDocDateOfIssue" type="xs:date">
											<xs:annotation>
												<xs:documentation>The inconnection document date of issue.l</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeDocDateOfIssue" type="xs:date">
											<xs:annotation>
												<xs:documentation>The exchanged document date of issue.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="TravelCommencementDate" type="xs:date">
											<xs:annotation>
												<xs:documentation>The date of the first flight of the priced itinerary applied at the document level.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ExchangeReissue">
											<xs:annotation>
												<xs:documentation>Identifies whether the ticket was the result of an exchange or a reissue of a ticket.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="E">
														<xs:annotation>
															<xs:documentation>The ticket was the result of an exchange.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="R">
														<xs:annotation>
															<xs:documentation>The ticket is the result of a reissue.</xs:documentation>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="StaffDetail" type="StaffDetailType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ID number, employing airline, joining date, res entitlement indicator, status, type of travel, ticket type.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="OriginalIssueInfo" minOccurs="0" maxOccurs="9">
									<xs:annotation>
										<xs:documentation>The original ticket/document issue information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attribute name="IssuingAgentID" type="NumericStringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Id of the original issuer of the ticket.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DateOfIssue" type="xs:date" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The date the ticket was originally issued.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="LocationCode" type="StringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The location where the ticket was originally issued.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="TicketDocumentNbr" type="StringLength1to16" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The original ticket/document number. </xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Information" use="optional">
											<xs:annotation>
												<xs:documentation>Original ticket issue information.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="34"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="ResponseComment" type="FreeTextType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>A response message from the controlling carrier.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="TotalFltSegQty" type="Numeric0to99" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="en">Total number of flight segments.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="QuantityGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">The number of booklets issued.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="SpecificData" type="StringLength1to32" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Passenger specific data.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="PhoneNumber" type="StringLength1to32" use="optional">
								<xs:annotation>
									<xs:documentation>The passenger telephone number.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="ValidatingAirline" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The validating airline designator.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attributeGroup ref="CompanyID_AttributesGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">Used to specify the validating airline code.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="Errors" type="ErrorsType">
					<xs:annotation>
						<xs:documentation>Errors are returned if the request was unable to be processed.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
