schemas/26.1/IATA_DailyFlightAvailabilityRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2015/00/2022.1/IATA_DailyFlightAvailabilityRS" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2015/00/2022.1/IATA_DailyFlightAvailabilityRS" elementFormDefault="qualified" version=" 1.0" id="IATA2022.1">
	<xs:element name="IATA_DailyFlightAvailabilityRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PayoadAttributes" type="IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>IATA standard payload attributes</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="Error" type="ErrorType" maxOccurs="5"/>
					<xs:element name="Response" type="ResponseType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="AirlineDesigCodeContentType">
		<xs:annotation>
			<xs:documentation>The codelist contents of IATA Resolution 762  airline codes, or of ICAO airline codes. {codeListAgencyName}IATA or ICAO{/codeListAgencyName} {codeListName}Resolution 762  Airline Codes or ICAO Airline Codes{/codeListName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="([A-Z]{3}|[A-Z]{2})|([0-9][A-Z])|([A-Z][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirlineDesigCodeType">
		<xs:annotation>
			<xs:documentation>Either the IATA-defined 2-character code or the ICAO-defined 3-character code of an airline, as per the length of the value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AirlineDesigCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="CodeType">
		<xs:annotation>
			<xs:documentation>A code is a character string of letters, numbers, special characters (except escape sequences), and symbols.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="DateTimeType">
		<xs:annotation>
			<xs:documentation>A date time identifies a date and time of day to various common resolutions: year, month, week, day, hour, minute, second, and fraction of second.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation>A date is a Gregorian calendar representation in various common resolutions: year, month, week, day.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="FlightNumberTextType">
		<xs:annotation>
			<xs:documentation>Identifies a flight number.  1 to 4 digits. May or may not have leading zeros when less than 4 digits. The use of leading zeros does not create a different Flight Number. For example, Flight Numbers 123 and 0123 are the same.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IATA_LocationCodeContentType">
		<xs:annotation>
			<xs:documentation>Enumeration set for the Location Code BDT. {codeListAgencyName}IATA{/codeListAgencyName} {codeListName}Location code{/codeListName} {enumerationURI}http://www.iata.org/publications/Pages/code-search.aspx{/enumerationURI}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IATA_LocationCodeType">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify the codeset which defines the IATA airport or city codes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="IATA_LocationCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="ID_Type">
		<xs:annotation>
			<xs:documentation>An identifier is a character string used to uniquely identify one instance of an object within an identification scheme that is managed by an agency.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="IndType">
		<xs:annotation>
			<xs:documentation>An indicator is a list of two mutually exclusive Boolean values that express the only possible states of a property.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="NumberType">
		<xs:annotation>
			<xs:documentation>A mathematical number that is assigned or is determined by calculation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="ProperNameType">
		<xs:annotation>
			<xs:documentation>BDT with value constraints for proper, regular names (e.g. Individual Surname, Individual First Name, Company Name, etc.).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QtyType">
		<xs:annotation>
			<xs:documentation>A quantity is a counted number of non-monetary units, possibly including fractions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="RBD_CodeContentType">
		<xs:annotation>
			<xs:documentation>Enumeration values of RBD Codes as per PADIS codeset 9800. {codeListAgencyName}IATA{/codeListAgencyName} {codeListIdentifier}PADIS 9800{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="RBD_CodeType">
		<xs:annotation>
			<xs:documentation>Additional BDT to specify the RBD as defined in AIRIMP and SSIM.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="RBD_CodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="TextType">
		<xs:annotation>
			<xs:documentation>Text is a character string such as a finite set of characters generally in the form of words of a language.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UniformResourceID_Type">
		<xs:annotation>
			<xs:documentation>A string of characters used to identify a resource. Such identification enables interaction with representations of the resource over a network, typically the World Wide Web, using specific protocols.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:complexType name="CarrierType">
		<xs:annotation>
			<xs:documentation>The organization which carries the passenger, baggage, or goods, and/or commits to delivering the carriage as well as any related services such as issuance of ticket, creation of Order, etc...</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirlineDesigCode" type="AirlineDesigCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatedMarketingSegmentRBD_Type">
		<xs:annotation>
			<xs:documentation>Provides RBD information for a given Dated Marketing Segment</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RBD_Code" type="RBD_CodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Code used to identify a particular RBD (e.g. P, J, W, M, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RBD_TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>RBD type as defined by PADIS code list for data element 7009.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RBD_AvailInfo" type="RBD_AvailInfoType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides information regarding an RBD availability for a given dated marketing segment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatedMarketingSegmentType">
		<xs:annotation>
			<xs:documentation>The commercial designation under which a Dated Operating Segment can be booked, either under the operating carrier's designator or that of another carrier (codeshare).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirlineDesigCode" type="AirlineDesigCodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatedMarketingSegmentID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier of a Dated Marketing Segment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketingCarrierFlightNumber" type="FlightNumberTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The numerical designation of a flight as it is marketed by a carrier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AircraftDepScheduledDateTime" type="DateType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Scheduled Date and Time of Departure of the aircraft at the terminal at an airport.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatedMarketingSegmentRBD_" type="DatedMarketingSegmentRBD_Type" minOccurs="0" maxOccurs="26">
				<xs:annotation>
					<xs:documentation>Provides RBD information for a given Dated Marketing Segment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatedOperatingSegment" type="DatedOperatingSegmentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An operation between board point and any subsequent off point within the same flight designator. Could be one or more legs. Could also be used for other transport vehicles such as train or bus etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginStation" type="StationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Location or facility where air or surface transportation originates, stops and/or terminates, and where passengers and/or cargo can be taken on or off.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStation" type="StationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Location or facility where air or surface transportation originates, stops and/or terminates, and where passengers and/or cargo can be taken on or off.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Warning" type="WarningType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Contains information related to potential business errors detected during processing of the preceding request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatedOperatingSegmentType">
		<xs:annotation>
			<xs:documentation>An operation between board point and any subsequent off point within the same flight designator. Could be one or more legs. Could also be used for other transport vehicles such as train or bus etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirlineDesigCode" type="AirlineDesigCodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatedOperatingSegmentID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier of a Dated Operating Segment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingCarrierFlightNumber" type="FlightNumberTextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The numerical designation of a flight as it is operated by a carrier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="CodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The code corresponding to the processing error as defined by PADIS 9321.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free text description of the provided error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique identifier for this error instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LangCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Language code associated with the error response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the organization owning the error codelist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Document processing status. Recommended values are NotProcessed, Incomplete, Complete, Unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TagText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the tag/XPath which relates to the provided Error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uses a bilaterally agreed set of values to indicate the error type. The validating XSD can expect to accept values that it has not been explicitly coded for and process them by using Type = 'unknown'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="UniformResourceID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Link to an online description of the provided Error.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IATA_PayloadStandardAttributesType">
		<xs:annotation>
			<xs:documentation>The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EchoTokenText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timestamp" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates the creation date and time of the message in UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VersionNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For all IATA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrxID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeqNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrxStatusCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This indicates where this message falls within a sequence of messages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryLangCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifes the primary language preference for the message. The human language is identified by ISO 639 codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AltLangCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetransmissionInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to true) only when a message is retransmitted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorrelationID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Allow end-to-end correlation of log messages with the corresponding Web service message throughout the processing of the Web service message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginDestType">
		<xs:annotation>
			<xs:documentation>The Origin and Destination airport/city pair which confines a passenger journey or an aircraft flight.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginDestID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an Origin Destination within the context of one message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginStation" type="StationType">
				<xs:annotation>
					<xs:documentation>Location or facility where air or surface transportation originates, stops and/or terminates, and where passengers and/or cargo can be taken on or off.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatedMarketingSegment" type="DatedMarketingSegmentType" minOccurs="1" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>The commercial designation under which a Dated Operating Segment can be booked, either under the operating carrier's designator or that of another carrier (codeshare).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStation" type="StationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Location or facility where air or surface transportation originates, stops and/or terminates, and where passengers and/or cargo can be taken on or off.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RBD_AvailInfoType">
		<xs:annotation>
			<xs:documentation>Provides information regarding an RBD availability for a given dated marketing segment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RBD_AvailInfoQty" type="QtyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the availability information of a given rbd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RBD_AvailInfoStatusCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides the availability information of a given RBD, coded as per IATA codeset 7011*1.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RBD_Type">
		<xs:annotation>
			<xs:documentation>Reservation Booking Designator.  A categorization used to facilitate access to inventory, application of filed fares, and to identify cabin entitlement. Identified using a single alpha character. E.g. 'J' for Business Class Premium, 'D' for Business Discounted.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RBD_Code" type="RBD_CodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Code used to identify a particular RBD (e.g. P, J, W, M, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RBD_TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>RBD type as defined by PADIS code list for data element 7009.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseType">
		<xs:annotation>
			<xs:documentation>Reply payload</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginDest" type="OriginDestType" minOccurs="1" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>The Origin and Destination airport/city pair which confines a passenger journey or an aircraft flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Warning" type="WarningType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Contains information related to potential business errors detected during processing of the preceding request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StationType">
		<xs:annotation>
			<xs:documentation>Location or facility where air or surface transportation originates, stops and/or terminates, and where passengers and/or cargo can be taken on or off.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IATA_LocationCode" type="IATA_LocationCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>IATA defined code identifying a city or station.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportDepType">
		<xs:annotation>
			<xs:documentation>The action or process of leaving of a transport vehicle from any place or location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AircraftScheduledDateTime" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Scheduled Date and Time of Departure of the aircraft at the terminal at an airport.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation>Contains information related to potential business errors detected during processing of the preceding request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="CodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The code corresponding to the processing warning as defined by PADIS 9321.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free text description of the provided warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LangCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Language code associated with the warning response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the organization owning the warning codelist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Document processing status. Recommended values are NotProcessed, Incomplete, Complete, Unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TagText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the tag/XPath which relates to the provided warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uses a bilaterally agreed set of values to indicate the warning type. The validating XSD can expect to accept values that it has not been explicitly coded for and process them by using Type = 'unknown'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="UniformResourceID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Link to an online description of the provided warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WarningID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique identifier for this warning instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
